@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,700|Bree+Serif|Roboto+Mono:300');
html,
body {
  font-family: 'Roboto Slab', serif;
  color: #263238;
}

header,
footer {
  background-color: #607D8B;
  color: white;
}

footer a:hover {
  color: #607D8B;
  background-color: white;
}

#site-head {
  font-family: 'Bree Serif', serif;
  font-size: 150%;
  letter-spacing: .5ex;
}

.menu-item {
  letter-spacing: .2ex;
  border-radius: 2px;
}

.menu-item.current {
  /* font-weight: bold; */
  background-color: #455A64;
}

.menu-item:hover {
  background-color: #546E7A;
  /* border-bottom: 1px dashed white; */
}

code {
  font-family: "Roboto Mono", serif;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dashed;
}

a:hover {
  background-color: #607D8B;
  color: white;
}

#contacts {
  font-size: 200%;
}

.contacts {
  border-bottom: 0px;
}

.contacts:hover {
  background-color: inherit;
  color: inherit;
}

/* .app {
  border-radius: 2px;
  border-color: #B0BEC5;
  box-shadow: 0 2px 2px 1px #B0BEC5;
}

.app:hover {
  box-shadow: 0 2px 2px 1px #455A64;
}

.app-title {
  background-color: #607D8B;
  color: white;
  font-size: 130%;
}

.app-title img {
  background-color: white;
  border-radius: 5px;
}

.app-action {
  color: #fff;
  background-color: #4DB6AC;
  cursor: pointer;
  transition: all 1s;
}
@keyframes rotating {
  from { transform: rotate(0deg); }
  to { transform: rotate(3600deg); }
}
.app-action:hover {
  background-color: #80CBC4;
  animation-name: rotating;
  animation-duration: .5s;
}

.app-tags {
  font-family: "Bree serif";
}
.app-tag {
  color: #fff;
  background-color: #bbb;
  font-size: 95%;
  font-weight: bold;
} */


.app-wrapper:nth-child(odd) > .app-head {
  background-color: #607D8B;
  color: white;
}

.app-wrapper:nth-child(even) > .app-head {
  background-color: #E0F2F1;
}

.app-wrapper:nth-child(odd) > .app-details {
  border: 2px solid #607D8B;
  border-top: 0px;
}

.app-wrapper:nth-child(even) > .app-details {
  border: 2px solid #E0F2F1;
  border-top: 0px;
}

.app-icon {
  border-radius: .5rem;
  background-color: white;
}

.app-tag {
  padding: .2rem .5rem;
  margin: .2rem;
  border-radius: 2rem;
}

.app-wrapper:nth-child(odd) .app-tag {
  background-color: #607D8B;
  color: white;
}

.app-wrapper:nth-child(even) .app-tag {
  background-color: #E0F2F1;
}