@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300|Bree+Serif|Roboto+Mono:300');
html,
body {
  font-family: 'Roboto Slab', serif;
  color: #263238;
}

header,
footer {
  background-color: #607D8B;
  color: white;
}

footer a:hover {
  color: #607D8B;
  background-color: white;
}

#site-head {
  font-family: 'Bree Serif', serif;
  font-size: 150%;
  letter-spacing: .5ex;
}

.menu-item {
  letter-spacing: .2ex;
  border-radius: 2px;
}

.menu-item.current {
  /* font-weight: bold; */
  background-color: #455A64;
}

.menu-item:hover {
  background-color: #546E7A;
  /* border-bottom: 1px dashed white; */
}

code {
  font-family: "Roboto Mono", serif;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dashed;
}

a:hover {
  background-color: #607D8B;
  color: white;
}

#contacts {
  font-size: 200%;
}

.contacts {
  border-bottom: 0px;
}

.contacts:hover {
  background-color: inherit;
  color: inherit;
}

.app {
  border-radius: 2px;
  border-color: #B0BEC5;
  box-shadow: 0 2px 2px 0 #90A4AE;
}

.app-title {
  /* border-bottom: 1px solid #ECEFF1; */
  /* font-weight: bold; */
  font-size: 130%;
  cursor: pointer;
}

.app-title:hover {
  background-color: #607D8B;
  color: white;
}
