<!DOCTYPE html>

<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <meta name="google-site-verification" content="d_76nSOuhpTdqn_6IJVDfLO76UO0p3XaM8h69XzymeM" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38752833-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-38752833-5');
  </script>
  <meta charset="UTF8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url" content="https://ricwtk.github.io">
  <meta property="og:title" content="R.ich.ard">
  <meta property="og:description" content="Personal website for Richard Wong">
  <title>R.ich.ard</title>
  <meta name="description" content="Personal website for Richard Wong">
  <meta name="keywords" content="Richard, Wong, Teck, Ken, TeckKen, Teckken, Tekken, Richard Wong">
  <link rel="icon" type="image/png" href="icons/icon.png?v=1.0">

  <script src="js/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="css/layout.css" />
  <link rel="stylesheet" type="text/css" href="css/theme.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.6/showdown.min.js"></script>
</head>

<body>
  <header>
    <site-header></site-header>
  </header>

  <div id="content-wrapper">
    <div id="content">
      <div v-for="level,l in prependlevels" v-if="prependlist.filter(x => x.level == l).length > 0">
        <h2>{{ level }}</h2>
        <div v-for="item,i in prependlist.filter(x => x.level == l)">
          P{{ i+1 }}&nbsp;&nbsp;<b>{{ item.title }}</b>
          <br>
          {{ item.description }}
          <br>
          <br>
        </div>
      </div>
      <div v-for="level,l in levels" v-if="students.filter(x => x.level == l).length > 0">
        <h2>{{ level }} Students</h2>
        <div v-for="from,f in reverseSort(students.filter(x => x.level == l).reduce((acc,x) => acc.includes(x.period[0].getFullYear()) ? acc : acc.concat(x.period[0].getFullYear()), []))">
          <h3>{{ from }}</h3>
          <div v-for="stud,s in sortTimeAndName(students.filter(x => x.level == l && x.period[0].getFullYear() == from))">
            {{ stud.title }}
            <br>
            <b>{{ stud.name }}</b>&nbsp;({{ getPeriodDisplay(stud.period) }})
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <site-foot></site-foot>
  </footer>

  <script>var currentPage = "Students";</script>
  <script src="vueComponents/site-header.js"></script>
  <script src="vueComponents/site-foot.js"></script>
  <script src="js/initiate-vue.js"></script>
  <script>
    var app = new Vue({
      el: "#content",
      data: {
        months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        levels: ['PhD', 'Master', 'Undergraduate'],
        students: [
          {
            name: "Henry Heng",
            title: "Resource Management for Fog Computing in Smart Transportation System",
            level: 1,
            period: [new Date(2019, 0, 1)]
          },
          {
            name: "Lim Kheng",
            title: "Agent based Modelling Traffic Simulator",
            level: 2,
            period: [new Date(2018, 7, 1), new Date(2019, 6, 1)]
          },
          {
            name: "Tai Zi Hang",
            title: "GPS Estimation Algorithm for Inconsistent Signal Reception",
            level: 2,
            period: [new Date(2018, 7, 1), new Date(2019, 6, 1)]
          },
          {
            name: "Kam Bi Li",
            title: "Investigating the Effect of Weather on Prediction of Bus Speed using Artificial Neural Networks",
            level: 2,
            period: [new Date(2018, 7, 1), new Date(2019, 6, 1)]
          },
          {
            name: "Lishan Abbas",
            title: "Web based Traffic Simulation with Pedestrians and Other Miscellaneous Entities",
            level: 2,
            period: [new Date(2018, 7, 1), new Date(2019, 6, 1)]
          },
          {
            name: "Chendra Putera Samara",
            title: "Adaptive Path Planning in Multi Robot Environment using ACO based Algorithm",
            level: 2,
            period: [new Date(2019, 2, 1)]
          },
          {
            name: "Lim Hui Zhi",
            title: "Adaptive Routing of City Navigation for Traffic Management",
            level: 2,
            period: [new Date(2019, 2, 1), new Date(2019, 11, 1)]
          },
          {
            name: "Swaroop Punnoose M. (Jake) Kovoor",
            title: "A Human Like Artificial Intelligence in a 3D First Person Shooter Game",
            level: 2,
            period: [new Date(2019, 2, 1), new Date(2019, 11, 1)]
          },
          {
            name: "Tan Chin Yik",
            title: "Control Strategies of Traffic Lights at Adjacent Junctions for Traffic Management",
            level: 2,
            period: [new Date(2019, 2, 1), new Date(2019, 11, 1), new Date(2020, 2, 1), new Date(2020, 6, 1)]
          },
          {
            name: "Lee Chin Shen",
            title: "Disparity Mapping of Stereo Images for Mobile Robot Path Planning",
            level: 2,
            period: [new Date(2019, 2, 1), new Date(2019, 11, 1)]
          },
          {
            name: "Ma Khai Yew",
            title: "Facial Emotion Detection using Machine Learning for Driver Monitoring with Voice Feedback",
            level: 2,
            period: [new Date(2019, 2, 1), new Date(2019, 11, 1)]
          },
          {
            name: "Tan Guan King",
            title: "Offline Handwriting Recognition on Examination Scripts using Machine Learning",
            level: 2,
            period: [new Date(2019, 2, 1), new Date(2019, 6, 1), new Date(2020, 7, 1)]
          },
          {
            name: "Leong Kai Xiang",
            title: "Real Time Indoor GPS Navigation using BLE Beacons",
            level: 2,
            period: [new Date(2019, 2, 1), new Date(2019, 11, 1)]
          },
          {
            name: "Dennis Lee Yee Hao",
            title: "Timetable Scheduling Optimisation for Lecturers",
            level: 2,
            period: [new Date(2019, 2, 1)]
          },
          {
            name: "How Kok Chuan",
            title: "Routing Optimisation in 3D Space for Airborne Swarm Robotics",
            level: 2,
            period: [new Date(2019, 7, 1), new Date(2020, 6, 1)]
          },
          {
            name: "Kourosh Borhani",
            title: "Analysis of Studying Behaviour and Student Performance using Artificial Intelligence",
            level: 2,
            period: [new Date(2019, 7, 1), new Date(2020, 6, 1)]
          },
          {
            name: "Sharvindran A/L Kamalen",
            title: "Library Navigation System using BLE and NFC Technologies",
            level: 2,
            period: [new Date(2019, 7, 1), new Date(2019, 11, 1)]
          },
          {
            name: "Lee Chai Chin",
            title: "Library Management System using NFC",
            level: 2,
            period: [new Date(2019, 7, 1), new Date(2020, 6, 1)]
          },
          {
            name: "Melvin Siew Jen Fung",
            title: "Using Swarm Intelligence to Shorten Car Traffic Time",
            level: 2,
            period: [new Date(2019, 7, 1), new Date(2020, 6, 1)]
          },
          {
            name: "Gan Wei Qi",
            title: "Delivery Order Acquisition Platform with Real-time Feedback using Telegram",
            level: 2,
            period: [new Date(2020, 3, 1)]
          },
          {
            name: "Yong Jian Arn",
            title: "Delivery Order Acquisition Platform with Real-time Feedback",
            level: 2,
            period: [new Date(2020, 3, 1)]
          },
          {
            name: "Patricia Tan Soo Ding",
            title: "Delivery Orders Format Recognition",
            level: 2,
            period: [new Date(2020, 3, 1)]
          },
          {
            name: "Ashlyn Lee Pui Yen",
            title: "Information Extraction from Delivery Orders",
            level: 2,
            period: [new Date(2020, 3, 1)]
          },
          {
            name: "Liew Wai Xing",
            title: "Traffic Lights Control Algorithm with Swarm Algorithm",
            level: 2,
            period: [new Date(2020, 3, 1)]
          },
          {
            name: "Darryl Tan Zhe Liang",
            title: "Cooperative navigation algorithm for mobile swarm robots",
            level: 2,
            period: [new Date(2020, 3, 1)]
          },
          {
            name: "Leong Chee Kuan",
            title: "Depth Estimation using Monocular Images",
            level: 2,
            period: [new Date(2020, 3, 1)]
          },
        ],
        prependlevels: ["Prospective Undergraduate Final Year Projects"],
        prependlist: [
          {
            title: "COCO dataset for construction? Real-time object detection for construction sites.",
            description: "This project focuses on creating the COCO dataset for construction. It involves the process of object extraction, labelling, and preliminary training using the dataset.",
            level: 0
          },
          {
            title: "Speed optimisation using evolutionary algorithms",
            description: "This project focuses on optimising the speed of a bus along a fixed route using evolutionary algorithms. The Sunway free shuttle bus route will be used as a case study.",
            level: 0
          },
          {
            title: "Study of routing optimisation algorithm for a bus route",
            description: "This project focuses on the routing optimisation to design a bus route. Sunway free shuttle bus will be used as a case study on the Sunway free shuttle bus. How may we change the route of the Sunway free shuttle bus? Should we change it based on different time of the day/day of the week?",
            level: 0
          },
          {
            title: "Traffic light network modelling and analysis",
            description: "A simulation of a traffic light network will help us to evaluate the performance of the traffic network. The Sunway City will be used as the case study.",
            level: 0
          },
          {
            title: "Incremental Learning for a vehicle energy Model",
            description: "Traditionally mathematical model is generated to simulate the energy consumption of a vehicle. However it's possible to use machine learning to generate a model instead of going through the mathematical derivations. For a machine like a vehicle which suffers from degradation, the energy consumption model changes with time. This project focuses on identifying the incremental learning algorithm that improves the machine learning model when additional data comes in. The data will be generated from ADVISOR, a vehicle simulator.",
            level: 0
          },
          {
            title: "3D environment mapping using passive vision techniques",
            description: "Autonomous robots deployed in a dynamic environment (on the street, indoor buildings with people moving around) are required to recognise moving objects to avoid collisions, and changes in the environment to report to the party of concern for investigation. To achieve these aims, the autonomous robots will need to have the mapping of the environment to recognise dissimilarities. The focus of this project is on the algorithm for the automatic 3D environment mapping using passive vision techniques.",
            level: 0
          },
          {
            title: "Swarm simulation in indoor environment with obstacles",
            description: "This project focuses on creating a simulation of a robotic swarm in an indoor environment with static/dynamic obstacles. A basic navigation algorithm will be required to allow the robot units to manoeuvre without colliding with each other or the obstacles.",
            level: 0
          },
          {
            title: "Open topic",
            description: "Talk to me if you have idea of project related to the application of AI/CI (machine learning, evolutionary computation, fuzzy logic, etc.) or optimisation in the area of robotics or intelligent transportation system.",
            level: 0
          }
        ]
      },
      methods: {
        reverseSort: function (arr) {
          arr.sort((a,b) => b - a);
          return arr;
        },
        sortTimeAndName: function (arr) {
          arr.sort((a,b) => a.name.localeCompare(b.name));
          arr.sort((a,b) => b.from - a.from);
          return arr;
        },
        getPeriodDisplay: function (period) {
          let loopn = Math.ceil(period.length/2);
          return [...Array(loopn).keys()].map(n => {
            let retval = "";
            let from = period[n*2];
            retval = from.getFullYear() + ' ' + this.months[from.getMonth()] + " - ";
            if (period.length > n*2+1) {
              let to = period[n*2+1];
              retval += to.getFullYear() + ' ' + this.months[to.getMonth()];
            } else { retval += "Now" }
            return retval
          }).join(", ");
        }
      }
    })
  </script>
</body>

</html>
