<!DOCTYPE html>

<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <meta name="google-site-verification" content="d_76nSOuhpTdqn_6IJVDfLO76UO0p3XaM8h69XzymeM" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38752833-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-38752833-5');
  </script>
  <meta charset="UTF8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url" content="https://ricwtk.github.io">
  <meta property="og:title" content="R.ich.ard">
  <meta property="og:description" content="Personal website for Richard Wong">
  <title>R.ich.ard</title>
  <meta name="description" content="Personal website for Richard Wong">
  <meta name="keywords" content="Richard, Wong, Teck, Ken, TeckKen, Teckken, Tekken, Richard Wong">
  <link rel="icon" type="image/png" href="icons/icon.png?v=1.0">

  <script src="js/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="css/layout.css" />
  <link rel="stylesheet" type="text/css" href="css/theme.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.6/showdown.min.js"></script>
</head>

<body>
  <header>
    <site-header></site-header>
  </header>

  <div id="content-wrapper">
    <div id="content">
      <div v-for="level,l in prependlevels" v-if="prependlist.filter(x => x.level == l).length > 0">
        <h2>{{ level }}</h2>
        <div v-for="item,i in prependlist.filter(x => x.level == l)">
          P{{ i+1 }}&nbsp;&nbsp;<b>{{ item.title }}</b>
          <br v-if="item.description">
          {{ item.description }}
          <br v-if="item.description">
          <br>
        </div>
      </div>
      <div v-for="level,l in levels" v-if="students.filter(x => x.level == l).length > 0">
        <h2>{{ level }} Students</h2>
        <div v-for="from,f in reverseSort(students.filter(x => x.level == l).reduce((acc,x) => acc.includes(x.period[0].getFullYear()) ? acc : acc.concat(x.period[0].getFullYear()), []))">
          <h3>{{ from }}</h3>
          <div v-for="stud,s in sortTimeAndName(students.filter(x => x.level == l && x.period[0].getFullYear() == from))">
            {{ stud.title }}
            <br>
            <span v-if="stud.link">
              <a :href="stud.link" target="_blank"><b>{{ stud.name }}</b>&nbsp;<b class="fa fa-link"></b></a>
            </span>
            <span v-else>
              <b>{{ stud.name }}</b>
            </span>
            &nbsp;({{ getPeriodDisplay(stud.period) }})
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <site-foot></site-foot>
  </footer>

  <script>var currentPage = "Students";</script>
  <script src="vueComponents/site-header.js"></script>
  <script src="vueComponents/site-foot.js"></script>
  <script src="js/initiate-vue.js"></script>
  <script>
    var app = new Vue({
      el: "#content",
      data: {
        months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        levels: ['PhD', 'Master', 'Undergraduate'],
        students: [
          {
            name: "Henry Heng",
            title: "Resource Management for Fog Computing in Smart Transportation System",
            level: 1,
            period: [new Date(2019, 0, 1), new Date(2021, 10, 1)]
          },
          {
            name: "Lim Kheng",
            title: "Agent based Modelling Traffic Simulator",
            level: 2,
            period: [new Date(2018, 7, 1), new Date(2019, 6, 1)]
          },
          {
            name: "Tai Zi Hang",
            title: "GPS Estimation Algorithm for Inconsistent Signal Reception",
            level: 2,
            period: [new Date(2018, 7, 1), new Date(2019, 6, 1)]
          },
          {
            name: "Kam Bi Li",
            title: "Investigating the Effect of Weather on Prediction of Bus Speed using Artificial Neural Networks",
            level: 2,
            period: [new Date(2018, 7, 1), new Date(2019, 6, 1)]
          },
          {
            name: "Lishan Abbas",
            title: "Web based Traffic Simulation with Pedestrians and Other Miscellaneous Entities",
            level: 2,
            period: [new Date(2018, 7, 1), new Date(2019, 6, 1)]
          },
          {
            name: "Chendra Putera Samara",
            title: "Adaptive Path Planning in Multi Robot Environment using ACO based Algorithm",
            level: 2,
            period: [new Date(2019, 2, 1), new Date(2019, 8, 1)] // incomplete
          },
          {
            name: "Lim Hui Zhi",
            title: "Adaptive Routing of City Navigation for Traffic Management",
            level: 2,
            period: [new Date(2019, 2, 1), new Date(2019, 11, 1)]
          },
          {
            name: "Swaroop Punnoose M. (Jake) Kovoor",
            title: "A Human Like Artificial Intelligence in a 3D First Person Shooter Game",
            level: 2,
            period: [new Date(2019, 2, 1), new Date(2019, 11, 1)]
          },
          {
            name: "Tan Chin Yik",
            title: "Control Strategies of Traffic Lights at Adjacent Junctions for Traffic Management",
            level: 2,
            period: [new Date(2019, 2, 1), new Date(2019, 11, 1), new Date(2020, 2, 1), new Date(2020, 6, 1)]
          },
          {
            name: "Lee Chin Shen",
            title: "Disparity Mapping of Stereo Images for Mobile Robot Path Planning",
            level: 2,
            period: [new Date(2019, 2, 1), new Date(2019, 11, 1)]
          },
          {
            name: "Ma Khai Yew",
            title: "Facial Emotion Detection using Machine Learning for Driver Monitoring with Voice Feedback",
            level: 2,
            period: [new Date(2019, 2, 1), new Date(2019, 11, 1)]
          },
          {
            name: "Tan Guan King (Kingston)",
            title: "Offline Handwriting Recognition on Examination Scripts using Machine Learning",
            level: 2,
            period: [new Date(2019, 2, 1), new Date(2019, 6, 1), new Date(2020, 7, 1), new Date(2020, 11, 1)]
          },
          {
            name: "Leong Kai Xiang",
            title: "Real Time Indoor GPS Navigation using BLE Beacons",
            level: 2,
            period: [new Date(2019, 2, 1), new Date(2019, 11, 1)]
          },
          {
            name: "Dennis Lee Yee Hao",
            title: "Timetable Scheduling Optimisation for Lecturers",
            level: 2,
            period: [new Date(2019, 2, 1), new Date(2019, 7, 1)] // incomplete
          },
          {
            name: "How Kok Chuan",
            title: "Routing Optimisation in 3D Space for Airborne Swarm Robotics",
            level: 2,
            period: [new Date(2019, 7, 1), new Date(2020, 6, 1)]
          },
          {
            name: "Kourosh Borhani",
            title: "Analysis of Studying Behaviour and Student Performance using Artificial Intelligence",
            level: 2,
            period: [new Date(2019, 7, 1), new Date(2020, 6, 1)]
          },
          {
            name: "Sharvindran A/L Kamalen",
            title: "Library Navigation System using BLE and NFC Technologies",
            level: 2,
            period: [new Date(2019, 7, 1), new Date(2019, 11, 1)]
          },
          {
            name: "Lee Chai Chin",
            title: "Library Management System using NFC",
            level: 2,
            period: [new Date(2019, 7, 1), new Date(2020, 6, 1)]
          },
          {
            name: "Melvin Siew Jen Fung",
            title: "Using Swarm Intelligence to Shorten Car Traffic Time",
            level: 2,
            period: [new Date(2019, 7, 1), new Date(2020, 6, 1)]
          },
          {
            name: "Gan Wei Qi",
            title: "Delivery Order Acquisition Platform with Real-time Feedback using Telegram",
            level: 2,
            period: [new Date(2020, 3, 1), new Date(2020, 11, 1)]
          },
          {
            name: "Yong Jian Arn",
            title: "Delivery Order Acquisition Platform with Real-time Feedback",
            level: 2,
            period: [new Date(2020, 3, 1), new Date(2020, 11, 1)]
          },
          {
            name: "Patricia Tan Soo Ding",
            title: "Delivery Orders Format Recognition",
            level: 2,
            period: [new Date(2020, 3, 1), new Date(2020, 11, 1)]
          },
          {
            name: "Ashlyn Lee Pui Yen",
            title: "Information Extraction from Delivery Orders",
            level: 2,
            period: [new Date(2020, 3, 1), new Date(2020, 11, 1)]
          },
          {
            name: "Liew Wai Xing",
            title: "Traffic Lights Control Algorithm with Swarm Algorithm",
            level: 2,
            period: [new Date(2020, 3, 1), new Date(2020, 11, 1)]
          },
          {
            name: "Darryl Tan Zhe Liang",
            title: "Cooperative navigation algorithm for mobile swarm robots",
            level: 2,
            period: [new Date(2020, 3, 1), new Date(2020, 11, 1)]
          },
          {
            name: "Leong Chee Kuan",
            title: "Depth Estimation using Monocular Images",
            level: 2,
            period: [new Date(2020, 3, 1), new Date(2020, 11, 1)]
          },
          {
            name: "Julian Lieow Ter Foo",
            title: "COCO Dataset for Construction Sites",
            level: 2,
            period: [new Date(2020, 7, 1), new Date(2021, 7, 1)]
          },
          {
            name: "Hiba Azhari Abdalgadir Abdalla",
            title: "Speed Optimisation using Evolutionary Algorithms",
            level: 2,
            period: [new Date(2020, 7, 1), new Date(2021, 7, 1)]
          },
          {
            name: "Spencer Wong Yeong Li",
            title: "Study of Routing Optimisation Algorithm for a Bus Route",
            level: 2,
            period: [new Date(2020, 7, 1), new Date(2021, 7, 1)]
          },
          {
            name: "Abang Naim",
            title: "Traffic Light Network Modelling and Analysis",
            level: 2,
            period: [new Date(2020, 7, 1), new Date(2021, 7, 1)]
          },
          {
            name: "Loo Zhen Ming",
            title: "Swarm Robots Simulation in Indoor Environment with Obstacles",
            level: 2,
            period: [new Date(2020, 7, 1), new Date(2021, 7, 1)]
          },
          {
            name: "Hassaan Munir",
            title: "Navigation Algorithm for Pattern Formation with Swarm Robots",
            level: 2,
            period: [new Date(2020, 7, 1), new Date(2021, 7, 1)]
          },
          {
            name: "Kenny Tan Yi Shin",
            title: "Foot Traffic Prediction within a Shopping Mall",
            level: 1,
            period: [new Date(2020, 7, 1)]
          },
          {
            name: "Kourosh Borhani",
            title: "Deep Learning in Improving Student Engagement",
            level: 1,
            period: [new Date(2020, 7, 1), new Date(2023, 7, 1)]
          },
          {
            name: "Nimue Wafiya binti Zeffri",
            title: "Is the worker wearing helmet? Identify if helmets exist on the worker using machine learning.",
            level: 2,
            period: [new Date(2021, 3, 1), new Date(2021, 11, 1)]
          },
          {
            name: "Teoh Shi Hong",
            title: "Is the photo taken at the construction site or the construction office? Identify on-site locations of a photo through context understanding using machine learning.",
            level: 2,
            period: [new Date(2021, 3, 1), new Date(2022, 7, 1)]
          },
          {
            name: "Ali Haider",
            title: "Driving behaviour analysis and categorisation using driving simulator",
            level: 2,
            period: [new Date(2021, 3, 1), new Date(2021, 11, 1)]
          },
          {
            name: "Matthew Ng Yee Chun",
            title: "Evaluation of different approaches for efficiency driving training using driving simulator",
            level: 2,
            period: [new Date(2021, 3, 1), new Date(2021, 11, 1)]
          },
          {
            name: "Gan Chu Heng",
            title: "Networked traffic light control using evolutionary algorithm",
            level: 2,
            period: [new Date(2021, 3, 1), new Date(2021, 11, 1)]
          },
          {
            name: "Steven Soo Yon Zhang",
            title: "Analysis of last mile travel for train system in Klang valley",
            level: 2,
            period: [new Date(2021, 3, 1), new Date(2021, 11, 1)]
          },
          {
            name: "Zahaen Hilmie bin Zaharudin",
            title: "Self-localisation and environment mapping using BLE beacons with swarm robots",
            level: 2,
            period: [new Date(2021, 3, 1), new Date(2021, 11, 1)]
          },
          {
            name: "Tan Ju Bhin",
            title: "Design and evaluation of data exchange modal using BLE for communication among swarm robots",
            level: 2,
            period: [new Date(2021, 3, 1), new Date(2021, 11, 1)]
          },
          {
            name: "Yap Tzec Tom",
            title: "Sound source localisation and tracking with a small scale mobile robot",
            level: 2,
            period: [new Date(2021, 3, 1), new Date(2021, 6, 1)]
          },
          {
            name: "Tan Wyyee",
            title: "Voice recognition with machine learning",
            level: 2,
            period: [new Date(2021, 3, 1), new Date(2021, 11, 1)]
          },
          {
            name: "Leo Paul Larkin",
            link: "https://leo.notsosrs.com/",
            title: "Optimisation of demand-based pricing for parking system",
            level: 2,
            period: [new Date(2021, 7, 1), new Date(2022, 7, 1)]
          },
          {
            name: "Ian How Yu Xuan",
            title: "Pattern formation algorithm with collaborative robots",
            level: 2,
            period: [new Date(2021, 7, 1), new Date(2022, 11, 1)]
          },
          {
            name: "Nicholas Lee Choon Sin",
            title: "Navigation algorithm for collaborative robots in indoor environment with obstacles",
            level: 2,
            period: [new Date(2021, 7, 1), new Date(2022, 7, 1)]
          },
          {
            name: "Raveesh Shibchurn",
            title: "Driving behaviour analysis on lane changing behaviour",
            level: 2,
            period: [new Date(2021, 7, 1), new Date(2022, 7, 1)]
          },
          {
            name: "Yutashna Gunnoo",
            title: "Driving behaviour analysis for roundabouts entry behaviour",
            level: 2,
            period: [new Date(2021, 7, 1), new Date(2022, 7, 1)]
          },
          {
            name: "Yan Yi Cheng",
            title: "Driving behaviour analysis on approaching yellow traffic light signal",
            level: 2,
            period: [new Date(2021, 7, 1), new Date(2022, 7, 1)]
          },
          {
            name: "Muhammad Nabeel Rasheed Varsally",
            title: "Demand-based adaptive routing algorithm",
            level: 2,
            period: [new Date(2021, 7, 1), new Date(2022, 7, 1)]
          },
          {
            name: "Byron Young Meng Keen",
            title: "Multiple travelling salesmen problem with evolutionary algorithm",
            level: 2,
            period: [new Date(2022, 3, 1), new Date(2022, 11, 1)]
          },
          {
            name: "Jonathan Yap Ren Jie",
            title: "Efficiency evaluation of cross junction with and without traffic lights",
            level: 2,
            period: [new Date(2022, 3, 1)]
          },
          {
            name: "Justin Teh Zi-Vern",
            title: "Abnormality detection in driver behaviour on highways (simulation for data collection)",
            level: 2,
            period: [new Date(2022, 3, 1), new Date(2022, 11, 1)]
          },
          {
            name: "Khoo Teng Eik",
            title: "Speaker recognition with different background noise environments",
            level: 2,
            period: [new Date(2022, 3, 1), new Date(2022, 11, 1)]
          },
          {
            name: "Marcus Wong Ke Lun",
            title: "Abnormality detection in driver behaviour on city roads (simulation for data collection)",
            level: 2,
            period: [new Date(2022, 3, 1), new Date(2022, 11, 1)]
          },
          {
            name: "Saurabh Varughese M. Kovoor",
            title: "Heart Disease Prediction Algorithm Using Machine Learning Techniques",
            level: 2,
            period: [new Date(2022, 3, 1), new Date(2022, 11, 1)]
          },
          {
            name: "Soh Xuan Wei",
            title: "Bluetooth-based ad-hoc network for swarm robotics",
            level: 2,
            period: [new Date(2022, 3, 1), new Date(2022, 11, 1)]
          },
          {
            name: "Vivian Chan Weng Hei",
            title: "Wireless ad-hoc network for swarm robotics",
            level: 2,
            period: [new Date(2022, 3, 1), new Date(2022, 11, 1)]
          },
          {
            name: "Yew Ther Ming",
            title: "Traffic light control for multi-junction traffic light system with an evolutionary algorithm",
            level: 2,
            period: [new Date(2022, 7, 1), new Date(2023, 7, 1)]
          },
          {
            name: "Ben Lam Hao Cheng",
            title: "Traffic light control for multi-junction traffic light system with reinforcement learning",
            level: 2,
            period: [new Date(2022, 7, 1), new Date(2023, 7, 1)]
          },
          {
            name: "Benjamin Ooi Joon Ming",
            title: "Control for traffic light system in large roundabouts with an evolutionary algorithm",
            level: 2,
            period: [new Date(2022, 7, 1), new Date(2023, 7, 1)]
          },
          {
            name: "Chow Wen Xuan",
            title: "Control for traffic light system in large roundabouts with reinforcement learning",
            level: 2,
            period: [new Date(2022, 7, 1), new Date(2023, 7, 1)]
          },
          {
            name: "Yap Xiao Kang",
            title: "Research-centric traffic simulator development",
            level: 2,
            period: [new Date(2022, 7, 1), new Date(2023, 7, 1)]
          },
          {
            name: "Jeremy Lim Shih Wen",
            title: "Research-centric simulator for swarm robotic system",
            level: 2,
            period: [new Date(2022, 7, 1), new Date(2023, 7, 1)]
          },
          {
            name: "Tan Yong Jern",
            title: "Routing optimisation in traffic network using reinforcement learning",
            level: 2,
            period: [new Date(2022, 7, 1), new Date(2023, 7, 1)]
          },
          {
            name: "Leong Ching Xuen",
            title: "Automatic Identification and Extraction of Room Categories in Floor Plans",
            level: 2,
            period: [new Date(2022, 7, 1), new Date(2023, 7, 1)]
          },
          {
            name: "Lilian Ung Wei Fang",
            title: "Unknown object detection and avoidance in a predefined map for robotic navigation",
            level: 2,
            period: [new Date(2022, 7, 1), new Date(2023, 7, 1)]
          },
          {
            name: "Soong Jia Le",
            title: "Adapting LLM for traffic incident detection",
            level: 2,
            period: [new Date(2023, 3, 1)]
          },
          {
            name: "Eu Yu Han",
            title: "Sunway Group Human Resource (GHR) project",
            level: 2,
            period: [new Date(2023, 3, 1)]
          },
          {
            name: "Yslam Orazov",
            title: "2D shape formation algorithm for programmable particles",
            level: 2,
            period: [new Date(2023, 3, 1)]
          },
          {
            name: "Tan Pee Aun",
            title: "Shape transition path planning for programmable particles",
            level: 2,
            period: [new Date(2023, 3, 1)]
          },
          {
            name: "Teh Jun Hao",
            title: "Traffic incident detection with sound recognition for on-board dashcam",
            level: 2,
            period: [new Date(2023, 3, 1)]
          },
          {
            name: "Kwan Jia Chi",
            title: "Speaker number recognition from recorded soundtrack",
            level: 2,
            period: [new Date(2023, 3, 1)]
          },
          {
            name: "Teo Yen Ting",
            link: "https://github.com/YennyTeo",
            title: "Recipe sharing and recommendation system",
            level: 2,
            period: [new Date(2023, 3, 1)]
          },
          {
            name: "Cheah Khai Jake",
            title: "Route optimisation to minimise energy consumption with reinforcement learning using CARLA as simulation environment",
            level: 2,
            period: [new Date(2023, 3, 1)]
          },
          {
            name: "Ng Hong Ming",
            title: "Optimised UI and UX design for browser-based smart home control application",
            level: 2,
            period: [new Date(2023, 3, 1)]
          },
          {
            name: "Alex Low Kwok Chung",
            title: "Event recommendation algorithm for a social platform",
            level: 2,
            period: [new Date(2023, 3, 1)]
          },
          {
            name: "Kirthyiban Nair",
            title: "Interest matching algorithm for a social platform",
            level: 2,
            period: [new Date(2023, 3, 1)]
          },
          {
            name: "Gan Rong Shen",
            title: "Product recommendation algorithm for peer-to-peer marketplace",
            level: 2,
            period: [new Date(2023, 3, 1)]
          },
        ],
        prependlevels: ["Prospective Undergraduate Final Year Projects"],
        prependlist: [
          // {
          //   title: "Route planning algorithm for multi-modal transit",
          //   description: "",
          //   level: 0
          // },
          // {
          //   title: "2D shape formation algorithm for programmable particles",
          //   description: "",
          //   level: 0
          // },
          // {
          //   title: "Shape transition path planning for programmable particles",
          //   description: "",
          //   level: 0
          // },
          // {
          //   title: "Traffic incident detection with sound recognition for on-board dashcam",
          //   description: "",
          //   level: 0
          // },
          // {
          //   title: "Speaker number recognition from recorded soundtrack",
          //   description: "",
          //   level: 0
          // },
          // {
          //   title: "Centralised communication framework for information sharing within a swarm robotic system",
          //   description: "",
          //   level: 0
          // },
          // {
          //   title: "Peer communication framework for information sharing within a swarm robotic system",
          //   description: "",
          //   level: 0
          // },
          // {
          //   title: "Route optimisation to minimise energy consumption with reinforcement learning using CARLA as simulation environment",
          //   description: "",
          //   level: 0
          // },
          // {
          //   title: "Optimised UI and UX design for browser-based smart home control application",
          //   description: "",
          //   level: 0
          // },
          // {
          //   title: "[Propose your own project. You may derive your project title based on my proposed, existing, or previous topics, or come up with your own.]",
          //   description: "",
          //   level: 0
          // }
        ]
      },
      methods: {
        reverseSort: function (arr) {
          arr.sort((a,b) => b - a);
          return arr;
        },
        sortTimeAndName: function (arr) {
          arr.sort((a,b) => a.name.localeCompare(b.name));
          arr.sort((a,b) => b.from - a.from);
          return arr;
        },
        getPeriodDisplay: function (period) {
          let loopn = Math.ceil(period.length/2);
          return [...Array(loopn).keys()].map(n => {
            let retval = "";
            let from = period[n*2];
            retval = from.getFullYear() + ' ' + this.months[from.getMonth()] + " - ";
            if (period.length > n*2+1) {
              let to = period[n*2+1];
              retval += to.getFullYear() + ' ' + this.months[to.getMonth()];
            } else { retval += "Now" }
            return retval
          }).join(", ");
        }
      }
    })
  </script>
</body>

</html>
